@model List<Condominio.Web.Models.CustomerViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.ActionLink("Crear Nuevo Cliente", "Register", "Customer", null, new { @class = "btn btn-primary" })
<br />
<br />
<table class="table table-hover">
    <tr class="thead-dark">
        <th scope="col">Id</th>
        <th scope="col">Residencial</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo electronico</th>
        <th scope="col"></th>
    </tr>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td scope="row">@item.CustomerId</td>
            <td scope="row">@item.Residencial.ResidentialName</td>
            <td scope="row">@item.FirstName</td>
            <td scope="row">@item.LastName</td>
            <td scope="row">@item.Phone</td>
            <td scope="row">@item.Email</td>
            <td scope="row">
                @Html.ActionLink("Edit", "Edit", "Customer", new { id = item.CustomerId }, new { @class = "btn btn-primary btn-sm" })
                <a href="#" onclick="Delete(@item.CustomerId)" class="btn btn-danger btn-sm">
                    Eliminar
                </a>
                @Html.ActionLink("Detalles", "Detail", "Customer", new { id = item.CustomerId }, new { @class = "btn btn-success btn-sm" })
                
            </td>
        </tr>
        }

    </tbody>
</table>

@section Scripts {
    <script>
        function Delete(id) {
            if (confirm("Seguro de elimiar el cliente? ")) {
                RemoveResidencialById(id);
            }
        }

        function RemoveResidencialById(id) {
            $.ajax({
                method: "POST",
                url: "@Url.Action("Delete", "Customer")",
                data: { id: id }
            }).done(function (msg) {

                if (msg.success) {
                    location.reload();
                } else {
                    alert("Data message: " + msg.message);
                }
            })
        }
    </script>
}